@font-face {
    font-family: 'TimesSquare';
    src: url('fonts/TimesSquare-m105.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    font-family: 'TimesSquare', sans-serif;
}

h3 {
    font-size: 12vh;
    font-family: 'TimesSquare', sans-serif;
    text-align: center;
    margin: 0;
}

p {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5vh;
    margin: 0;
    text-align: center;
}

#world-canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#project-scoreboard-video {
    display: none;
}

#home-button {
    position: fixed;
    z-index: 10;

    border: none;
    padding-left: 13vh;
    background-color: transparent;
    font-size: 10vh;
    margin: 2vh;

    left: 0;

    animation-name: home-plate-main;
    animation-duration: 2s;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    transition: scale 0.25s, margin 0.25s;
}

#home-button::before {
    position: absolute;
    left: 0;
    top: 0;

    content: '';

    width: 0;
    height: 0;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;

    border-bottom: 5vh solid white;

    animation-name: home-plate-top;
    animation-duration: 2s;
}

#home-button::after {
    position: absolute;
    left: 0;
    top: 4.8vh;

    content: '';

    width: 10vh;
    height: 6vh;
    background-color: white;

    animation-name: home-plate-bottom;
    animation-duration: 2s;
}

@keyframes home-plate-top {
    from {
        border-bottom: 0vh solid white;
        top: 5.15vh;
    }

    to {
        border-bottom: 5vh solid white;
        top: 0;
    }
}

@keyframes home-plate-bottom {
    from {
        height: 0;
    }

    to {
        height: 6vh;
    }
}

@keyframes home-plate-main {
    from {
        padding-left: 0vh;
        opacity: 0;
        color: white;
    }
    
    to {
        padding-left: 13vh;
        opacity: 1;
        color: black;
    }
}

#home-button:hover {
    scale: 1.25;
    cursor: pointer;
    margin-left: 10vh;
}

#fader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: black;
    left: 0;
    top: 0;
    opacity: 0;
}



/* Introduction widget */

#introduction-container {
    display: flex;
    position: fixed;
    width: 90vh;
    height: 80vh;
    background-color: rgb(161, 158, 148);
    margin-top: 10vh;
    margin-left: calc(50vw - 45vh);
    border-radius: 1vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 2vh;
}

#introduction-dark {
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#exit-intorduction-button {
    font-size: 10vh;
    background-color: transparent;
    border: solid 1vh rgb(155, 53, 45);
    border-radius: 0.75vh;
    padding: 1vh 4vh 1vh 4vh;
    position: relative;
    transition: scale 0.5s;
    scale: 1;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
}

#exit-intorduction-button:hover {
    cursor: pointer;
    scale: 1.1;
    font-weight: 800;
}

#exit-intorduction-button::after {
    content: '';
    position: absolute;
    background-color: rgb(155, 53, 45);
    border-radius: 100vh;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transition: border-radius 0.25s ease-in-out, width 0.25s ease-in-out, height 0.15s ease-in-out, left 0.25s ease-in-out, top 0.15s ease-in-out, opacity 0.2s;
    z-index: -1;
    opacity: 0;
}

#exit-intorduction-button:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0vh;
    top: 0;
    left: 0;
    opacity: 1;
}



/* ABOUT SECTION */

#about-container {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

#about-container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('img/scorecard.png');
    background-size: cover;
    z-index: -1;
    filter: brightness(0.5);
}

#about-section-title {
    width: fit-content;
    font-size: 10vw;
    font-weight: 100;
    background-color: rgb(121, 106, 75);
    color: white;
    text-shadow: black 0px 1vh 0.25vh;
    float: right;
    padding: 1vw;
    border-left: solid 0.5vw black;
    border-bottom: solid 0.5vw black;
    transition: padding 0.25s, color 0.15s;
}

#about-section-title:hover {
    cursor: grab;
    padding-left: 5vw;
    color: gold;
}